@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Roboto+Slab&family=Roboto:ital@0;1&display=swap");

:root {
  --clr-dark-blue: #51718a;
  --clr-light-blue: #80a7bf;
  --clr-white: #f1efeb;
  --clr-gold: #ddb775;
  --ff-h-400: "Bilbo Swash Caps", cursive;
  --ff-p-400: "Roboto", sans-serif;
  --ff-nav-400: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var();
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--clr-white);
  font-family: var(--ff-p-400);
  color: var(--clr-dark-blue);
}

p {
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-h-400);
  font-weight: 400;
}

h1 {
  color: var(--clr-dark-blue);
  font-size: 64px;
  text-align: center;
}

h2 {
  color: var(--clr-dark-blue);
  font-size: 36px;
}

.brush {
  background-image: url(images/titlebrush.svg);
  background-repeat: no-repeat;
}

nav,
footer {
  font-family: var(--ff-nav-400);
}

ul {
  list-style: none;
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-blue {
  background-color: var(--clr-dark-blue);
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.content {
  flex: 1;
  flex-direction: column;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

.spacebtw {
  display: flex;
  justify-content: space-between;
}

.alignitems {
  display: flex;
  align-items: center;
}

.spaceeven {
  display: flex;
  justify-content: space-evenly;
}

header {
  height: 85px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  height: 85px;
  align-items: center;
}

.logo a img {
  width: 234px;
  height: 55px;
}

/* navigation */
.menu a {
  color: var(--clr-white);
  text-decoration: none;
}

.menu a:hover {
  color: var(--clr-gold);
}

.menu {
  background: var(--clr-dark-blue);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.menu-item {
  color: var(--clr-white);
  background: var(--clr-dark-blue);
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.menu-item a {
  color: var(--clr-white);
}

.menu-item:hover {
  color: var(--clr-gold);
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.dropdown-item {
  background: var(--clr-light-blue);
  padding: 15px;
}

.dropdown-item:hover {
  color: var(--clr-white);
  background: var(--clr-gold);
}

.menu-item:hover > .menu,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown-item {
  clear: both;
  width: 100%;
}
/* end navigation */

/* start banner */
.fotobanner {
  background-image: url(images/fotobanner.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  height: 500px;
}

.fotobanner span {
  font-family: var(--ff-h-400);
  font-size: 64px;
  color: var(--clr-white);
  display: block;
  text-align: center;
  margin: 0;
  z-index: 1;
  line-height: 70px;
}

.overlaywrap {
  position: relative;
}

.overlay {
  background: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
}
/* end banner */

/* start kamerkaarten */
.kamerkaart {
  padding: 20px;
  margin: 50px 25px;
  color: var(--clr-white);
  text-align: center;
  width: 500px;
  height: 450px;
}

.kamerkaart a {
  color: var(--clr-gold);
  text-decoration: none;
}

.kamerkaart span {
  font-size: 20px;
}

.kamerkaart img {
  width: 290px;
  height: 175px;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--clr-gold);
  color: var(--clr-white);
  font-family: var(--ff-nav-400);
  font-size: 13px;
  border: 1px solid var(--clr-gold);
  border-radius: 20px;
  margin: 0 12px;
}
/* end kamerkaartsen */

/* start infobanner */
.infobanner {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 0px 50px 0px;
}

.overlayinfo {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 495px;
}

.overlayinfo span {
  display: block;
  position: absolute;
  top: 200px;
  color: var(--clr-white);
  width: 600px;
  text-align: center;
}

.slick-prev slick-arrow {
}

.slick-next slick-arrow {
}
/* end infobanner */

.welkom {
  margin-bottom: 50px;
}

.welkom img {
  margin-right: 50px;
}

.welkom p {
  margin: 25px 0;
  width: 550px;
}

.gastenboek {
  color: var(--clr-white);
  margin: 0 50px;
  padding: 0 50px;
  height: 250px;
}

.gastenboek p {
  text-align: left;
  padding: 25px 0;
}

.gastentitle h2 {
  color: var(--clr-gold);
  text-align: center;
  padding: 25px;
}

.gastenboek span {
  font-family: var(--ff-nav-400);
  padding-left: 50px;
  padding-bottom: 50px;
}

.gastenboekwrap {
  margin-bottom: 50px;
}

.hoofdtitel {
  padding-top: 50px;
}

.kamer-info {
  padding-left: 50px;
}

.kamer-info2 p {
}

.kamer-info p,
.kamer-info2 p {
  padding-right: 50px;
  padding-bottom: 50px;
}

.kamer-info a {
  text-decoration: none;
}

.iconlist {
  padding-right: 25px;
}

.kamer-info span {
  font-size: 13px;
}

.kamer {
  margin: 25px 0;
}

.kamer ul {
  width: 300px;
  line-height: 35px;
}

.kamer ul li i {
  color: var(--clr-gold);
}

/* start footer */
.footer {
  height: 50px;
}

.footer a {
  color: var(--clr-white);
  text-decoration: none;
}

.footer a:hover {
  color: var(--clr-gold);
}

.ftr-icons {
  font-size: 25px;
  padding-left: 10px;
}
/* end footer */
