@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Roboto+Slab&family=Roboto:ital@0;1&display=swap");

:root {
  --clr-dark-blue: #51718a;
  --clr-light-blue: #80a7bf;
  --clr-white: #f1efeb;
  --clr-gold: #ddb775;
  --ff-h-400: "Bilbo Swash Caps", cursive;
  --ff-p-400: "Roboto", sans-serif;
  --ff-nav-400: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var();
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--clr-white);
  font-family: var(--ff-p-400);
  color: var(--clr-dark-blue);
}

.hoofdtitel {
  padding-top: 70px;
  padding-bottom: 50px;
}

p {
  font-size: 16 px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-h-400);
  font-weight: 400;
}

h1 {
  color: var(--clr-dark-blue);
  font-size: 64px;
  text-align: center;
}

h2 {
  color: var(--clr-dark-blue);
  font-size: 36px;
}

nav,
footer {
  font-family: var(--ff-nav-400);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-dark-blue);
  transition: color 0.5s;
}

a:hover {
  color: var(--clr-gold);
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-blue {
  background-color: var(--clr-dark-blue);
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.content {
  flex: 1;
  flex-direction: column;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
}

.alignitems {
  display: flex;
  align-items: center;
}

.spacebtw {
  display: flex;
  justify-content: space-between;
}

.spaceeven {
  display: flex;
  justify-content: space-evenly;
}

.end {
  justify-content: flex-end;
}

.start {
  justify-content: flex-start;
}

header {
  height: 85px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  height: 85px;
  align-items: center;
}

.logo a img {
  width: 234px;
  height: 55px;
}

hr {
  border: 1px solid var(--clr-gold);
}

/* START NAVIGATION */
.menu a {
  color: var(--clr-white);
  font-family: var(--ff-nav-400);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.5s;
}
.menu a:hover {
  color: var(--clr-gold);
}

.menu a:active {
  color: var(--clr-gold);
}

.menu {
  background: var(--clr-dark-blue);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.menu-item {
  color: var(--clr-white);
  background: var(--clr-dark-blue);
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}

.menu-item a {
  color: var(--clr-white);
}

.menu-item:hover {
  color: var(--clr-gold);
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.dropdown-item {
  background-color: var(--clr-light-blue);
  color: var(--clr-white);
  transition: background-color 0.7s;
  padding: 15px;
}

.dropdown-item:hover {
  color: var(--clr-white);
  background-color: var(--clr-gold);
}

.menu-item:hover > .menu,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown-item {
  clear: both;
  width: 100%;
}
/* END NAVIGATION */

/* START BANNER */
.fotobanner {
  background-image: url(images/fotobanner.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  height: 500px;
}

.fotobanner span {
  font-family: var(--ff-h-400);
  font-size: 100px;
  color: var(--clr-white);
  display: block;
  text-align: center;
  margin: 0;
  z-index: 1;
  line-height: 100px;
}

.overlaywrap {
  position: relative;
}

.overlay {
  background: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
}
/* END BANNER */

/* START KAMERKAARTEN */
.kamerkaart {
  padding: 20px;
  margin: 50px 25px;
  color: var(--clr-white);
  text-align: center;
  width: 500px;
  height: 450px;
}

.kamerkaart a {
  color: var(--clr-gold);
  font-family: var(--ff-h-400);
  font-size: 36px;
}

.kamerkaart span {
  font-size: 20px;
}

.kamerkaart img {
  width: 290px;
  height: 175px;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--clr-gold);
  color: var(--clr-white);
  font-family: var(--ff-nav-400);
  font-size: 13px;
  border: none;
  border-radius: 20px;
  margin: 0 12px;
  transition: background-color 0.7s;
}

.button:hover {
  background-color: var(--clr-light-blue);
  border: none;
}
/* END KAMERKAARTEN */

/* START INFOBANNER */
.infobanner {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 0px 50px 0px;
}

.overlayinfo {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 495px;
}

.overlayinfo span {
  display: block;
  position: absolute;
  top: 200px;
  color: var(--clr-white);
  width: 600px;
  text-align: center;
}

.slick-prev slick-arrow {
}

.slick-next slick-arrow {
}
/* END INFOBANNER */

/* START WELKOMSBERICHT */
.welkom {
  margin-bottom: 50px;
}

.welkom img {
  margin-right: 50px;
}

.welkom p {
  margin: 25px 0;
}

.brush1 {
  background-image: url(images/brushjosmaryse.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* END WELKOMSBERICHT */

/* START GASTENBOEK */
.gastenboek {
  color: var(--clr-white);
  margin: 0 50px;
  padding: 0 50px;
  height: 250px;
}

.gastenboek p {
  text-align: left;
  padding: 25px 0;
}

.gastentitle h2 {
  color: var(--clr-gold);
  text-align: center;
  padding: 25px;
}

.gastenboek span {
  font-family: var(--ff-nav-400);
  padding-left: 50px;
  padding-bottom: 50px;
}

.gastenboekwrap {
  margin-bottom: 50px;
}
/* END GASTENBOEK */

/* START KAMERS */
.brush2 {
  background-image: url(images/brushcharmekamers.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 360px;
  height: 80px;
}

.kamer-info {
  padding-left: 50px;
  width: 500px;
}

.kamer-info2 p {
  width: 450px;
}

.kamer-info p,
.kamer-info2 p {
  padding-right: 50px;
  padding-bottom: 50px;
}

.kamer-info a {
  padding-right: 50px;
  text-decoration: none;
}

.iconlist {
  padding-right: 25px;
  padding-left: 25px;
}

.iconlist2 {
  padding-right: 50px;
  padding-left: 25px;
}

.kamer-info span {
  font-size: 13px;
}

.kamer {
  margin: 50px 0;
}

.kamer h2 {
  margin-bottom: 20px;
}

.kamer2 {
  margin-bottom: 70px;
}

.kamer ul {
  line-height: 35px;
}

.kamer ul li i {
  color: var(--clr-gold);
}

.pppn {
  padding-right: 75px;
}

.button2 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
  font-family: var(--ff-nav-400);
  font-size: 13px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.7s;
}

.button2:hover {
  background-color: var(--clr-light-blue);
  border: none;
}
/* END KAMERS */

/* START GALERIJ */
.brush3 {
  background-image: url(images/brushsfeerbeelden.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* END GALERIJ */

/* START INFORMATIE */
.brush4 {
  background-image: url(images/brushinfoauthentiekehoeve.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.brush5 {
  background-image: url(images/brushinfohetontbijt.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.brush6 {
  background-image: url(images/brushinfobezienswaardigheden.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.brush7 {
  background-image: url(images/brushinforoutes-fietsverhuur.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#fruitstreek img {
  position: relative;
  z-index: -1;
}

.poem {
  position: absolute;
  z-index: 1;
  text-align: center;
  font-family: var(--ff-h-400);
  font-size: 36px;
  color: var(--clr-white);
}

.fruitstreekinfo {
  width: 600px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.fruitstreekinfo p {
  padding-bottom: 10px;
}

.drawning {
  margin-top: 50px;
  margin-bottom: 70px;
}

.ontbijtinfo {
  width: 500px;
  margin-bottom: 70px;
}

.ontbijtinfo p {
  padding-bottom: 10px;
}

.ontbijtfotos {
  width: 500px;
  margin-bottom: 70px;
}

.kasteelheersinfo {
  width: 500px;
}

.kasteelheersinfo p {
  padding-bottom: 10px;
}

.kasteelheersinfo h2 {
  padding-bottom: 30px;
}

.kasteelheksinfo {
  width: 500px;
}

.kasteelheksinfo p {
  padding-bottom: 10px;
}

.kasteelheksinfo h2 {
  padding-bottom: 30px;
}

.kerkveuleninfo {
  width: 500px;
}

.kerkveuleninfo p {
  padding-bottom: 10px;
}

.kerkveuleninfo h2 {
  padding-bottom: 30px;
}

.doorkijkkerkjeinfo {
  width: 500px;
}

.doorkijkkerkjeinfo p {
  padding-bottom: 10px;
}

.doorkijkkerkjeinfo h2 {
  padding-bottom: 30px;
}

.doorkijkkerkje {
  width: 500px;
}

.stroopfabriekinfo {
  width: 500px;
}

.stroopfabriekinfo p {
  padding-bottom: 10px;
}

.stroopfabriekinfo h2 {
  padding-bottom: 30px;
}

.natuurinfo {
  width: 500px;
  padding-bottom: 70px;
}

.natuurinfo p {
  padding-bottom: 10px;
}

.natuurinfo h2 {
  padding-bottom: 30px;
}

#bezienswaardigheden section {
  margin-bottom: 50px;
}

.fietsfotos img {
  margin-bottom: 20px;
}

.fietsenenroutesinfo {
  width: 500px;
  padding-bottom: 70px;
}

.fietsenenroutesinfo p {
  padding-bottom: 10px;
}

.fietsenenroutesinfo a {
  text-decoration: none;
  color: var(--clr-gold);
}

.fietsenenroutesinfo a:hover {
  text-decoration: underline;
}

#routesenfietsverhuur {
  margin-bottom: 70px;
}
/* END INFORMATIE */

/* START RESERVEREN*/
.brush8 {
  background-image: url(images/brushreserveer.svg);
  background-repeat: no-repeat;
  background-position: center;
}

form {
  margin-bottom: 70px;
}

form label {
  font-family: var(--ff-p-400);
  font-size: 16px;
  color: var(--clr-dark-blue);
  margin-top: 10px;
  margin-bottom: 10px;
}

form select {
  font-family: var(--ff-p-400);
  font-size: 16px;
  color: var(--clr-dark-blue);
  background-color: #dfdfdf;
  border: 1px solid #dfdfdf;
  height: 30px;
}

form input {
  font-family: var(--ff-p-400);
  font-size: 16px;
  color: var(--clr-dark-blue);
  background-color: #dfdfdf;
  border: 1px solid #dfdfdf;
  height: 30px;
}

form span {
  font-family: var(--ff-p-400);
  font-size: 16px;
  color: var(--clr-dark-blue);
  font-style: italic;
}

form a {
  text-decoration: underline;
}

.keuze {
  margin-bottom: 50px;
}

.keuze select {
  margin-left: 50px;
  margin-bottom: 30px;
}

.keuze input {
  width: 120px;
}

.keuze span {
  margin-top: 30px;
}

#aantalbezoekers {
  width: 60px;
  text-align: center;
}

.contact {
  margin-bottom: 70px;
}

.contactgegevens {
  margin-bottom: 70px;
}

.contactgegevens h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.contactgegevens input {
  width: 400px;
}

.adresgegevens {
  margin-bottom: 70px;
}

.adresgegevens h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.adresgegevens input {
  margin-left: 20px;
  width: 400px;
}

.adresgegevens label {
  margin-left: 20px;
}

#nr {
  width: 80px;
}

#bus {
  width: 60px;
}

#postcode {
  width: 160px;
}

#plaats {
  width: 400px;
}

.gelezen {
  margin-top: 50px;
  margin-bottom: 30px;
}

.gelezen label {
  padding-left: 10px;
}

.button3 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
  font-family: var(--ff-nav-400);
  font-size: 13px;
  border: 1px solid var(--clr-dark-blue);
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 40px;
  width: 160px;
  cursor: pointer;
  transition: background-color 0.7s;
}

.button3:hover {
  background-color: var(--clr-light-blue);
  border: 1px solid var(--clr-light-blue);
}
/* END RESERVEREN */

/* START CONTACT */
.brush9 {
  background-image: url(images/brushcontact.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contactinfo h2 {
  margin-bottom: 30px;
  font-style: normal;
}

address span {
  font-style: normal;
  line-height: 25px;
  font-size: 18px;
}

.contactinfo ul {
  margin-top: 50px;
}

.contactinfo li {
  line-height: 30px;
  font-size: 18px;
}

.contactinfo ul li i {
  font-size: 18px;
  color: var(--clr-gold);
}
/* END CONTACT */

/* START FOOTER*/
.footer {
  height: 50px;
}

.footer a {
  color: var(--clr-white);
  font-family: var(--ff-nav-400);
  text-decoration: none;
  transition: color 0.5s;
}

.footer a:hover {
  color: var(--clr-gold);
}

.ftr-icons {
  font-size: 25px;
  padding-left: 10px;
}
/* END FOOTER */
